In [12]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [13]:
df = pd.read_csv("../dataset/processed/HousingProcessed.csv")
df.head()

,Unnamed: 0,price,areasqft,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parkingspots,prefarea,furnishingstatus
0,0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        545 non-null    int64
 1   price             545 non-null    int64
 2   areasqft          545 non-null    int64
 3   bedrooms          545 non-null    int64
 4   bathrooms         545 non-null    int64
 5   stories           545 non-null    int64
 6   mainroad          545 non-null    object
 7   guestroom         545 non-null    object
 8   basement          545 non-null    object
 9   hotwaterheating   545 non-null    object
 10  airconditioning   545 non-null    object
 11  parkingspots      545 non-null    int64
 12  prefarea          545 non-null    object
 13  furnishingstatus  545 non-null    object
dtypes: int64(7), object(7)
memory usage: 59.7+ KB

In [ ]:
#getting the x and y. here x will be the features and y will be the target
#for linear regression, these all need to be numeric, but some are not. so needs to be fixed.
x = df[["areasqft", "bedrooms", "bathrooms", "stories", "basement", "parkingspots", "hotwaterheating", "airconditioning"]]
y = df["price"]